.container__portfolio {
    text-align: center;
    padding-top: 1em;
    line-height: 1.4;
    font-size: 2em;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.portfolio__wrapper{
    position: relative;
    display: flex;
    flex-direction: row;
    margin-top: 1em;
    justify-content: space-around;
    gap: 2rem;
    padding-right: 1rem;
    padding-left: 1rem;
    padding-top: 1rem;
}

.portfolio__item{
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: var(--color-primary);
    border: solid 1px var(--color-primary);
    border-radius: 10px;
}

.portfolioitem-desc__container{
    padding-top: 0,5em;
}

.portfolioitem-desc__container p {
    margin-top: 1,5rem;
}

.portfolio__tilte{
    text-align: start;
}

.portfolio-project-img{
    border-radius: 10px 10px 0 0;
}

.btn-portfolioitem{
    margin-top: 2rem;
}