.container__header{
    text-align: center;
    padding-top: 2.5em;
    line-height: 1.4;
    font-size: 2em;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.cta {
    margin-top: 2.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}

.header__socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    left: 15%;
    bottom: 15%;
    font-size: 1em;
}

.img-header__container{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 15px;
    min-height: fit-content;
}

.image-bg-profil{
    position: absolute;
    margin: 0 auto;
    object-fit: cover;
    top: 15%;
    left: -10%;
    z-index: -1;
    width: auto;
}

.particules{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
}

#tsparticles{
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    position: absolute;
    left: 0;
    top: 0;
}