.container__footer{
    background: url('../../assets/bgR.svg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;


    background-color:#17202a;
    display: flex;
    flex-direction: row;
    min-height: 50vh;
    width: 100vw;
    padding: 2em;
    padding-bottom: 8em;
}

.first__footer{
    padding-left: 1em;
    width: 50%;
    text-align: center;
}

.second__footer{
    display: flex;
    flex-direction: column;
    padding-right: 4em;
    margin-left: 1.7em;
    width: 35%;
    border-radius: 10px;
    height: auto;
}

.form_wrapper{
    text-align: start;
    width: fit-content;
    height: fit-content;
    background-color: rgba(0, 0, 0, 0.85);
    padding: 2em;
    border-radius: 10px;
}

.form-label{
    font-size: 22px;
    padding: 1em;
    color: white;
    margin-left: 10px;
    margin-top: 100px;
}

.form-input{
    padding-top: 5px;
    width: 100%;
    color: var(--color-primary);
    border-radius: 10px;
    padding: 1em;
    font-size: 1.1em;
}
.form-input-area{
    padding-bottom: 4em;
}

.btn-send-msg{
    margin-top: 2em;
    font-size: larger;
}

.socials-essentials-footer{
    position: absolute;
    display: flex;
    flex-direction: row;
    gap: 1em;
    left: 66%;
    transform: translateX(-50%);
    font-size: 5em;
    background-color: rgba(0, 0, 0, 0.40);
    border-radius: 10px;
}

.title-footer{
    text-align: center;
    font-size: 3em;
}


/*---------------------------- Responsive Design ----------------------------*/

/* Medium Devices */
@media only screen and (max-width: 1024px) {
    .socials-essentials-footer{
        position: relative;
        display: flex;
        flex-direction: row;
        font-size: 2.5em;
        justify-content: center;
        left: 0;
        transform: none;
        border-radius: 10px;
        padding: 0;
    }
}


/* Small Devices */
@media only screen and (max-width: 768px) {
    .container__footer{
        flex-direction: column;
    }

    .first__footer{
        width: 100%;
    }
    .second__footer{
        width: 100%;
        justify-content: center;
        padding: 0;
        margin: 0;
    }

    .socials-essentials-footer{
        position: relative;
        display: flex;
        flex-direction: row;
        font-size: 2.5em;
        justify-content: center;
        left: 0;
        transform: none;
        border-radius: 10px;
        margin-top: 2px;
        padding: 0;
    }
}