.container__nav{
    position: fixed;
    top: 25vh;
    right: 2.5em;
    border-radius: 50px;
    background-color: var(--transparent);
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    padding: 1rem;
    font-size: 2em;
}