.container__nav{
    position: fixed;
    top: 85vh;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50px;
    background-color: var(--transparent);
    display: flex;
    gap: 3rem;
    padding: 1rem;
    font-size: 1.8em;
}